version: '3'
services:
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    environment:
      - CHALLENGE_MODE=TE.CL
    networks:
      - internal_net
    depends_on:
      - backend

  backend:
    build: ./backend
    expose:
      - "8888"
    networks:
      - internal_net

  bot:
    build: ./bot
    networks:
      - internal_net
    depends_on:
      - frontend

networks:
  internal_net:
